<%= raw @message.html %>

<p>Click <%= link_to("Here", "www.badcreditbusinessloans.com ") %> now to get started! <p>

<br>

<p style="font-size:xx-small;">
<a href="*|UNSUB:www.badcreditbusinessloans.com|*">Click here to unsubscribe.</a> You will be redirected to the main site but will not recieve anymore emails from us
</p>
