<p><h5>Email Submissions</h5></p>

<%= will_filter_tag(@email_submissions) %>
<%= will_filter_table_tag(@email_submissions, :columns => [
    :id, 
    { :key => lambda{|obj|  
          Email.find(obj.email_id).emailAddress
    },          
        :value => lambda{|obj| 
          link_to(Email.find(obj.email_id).emailAddress,Email.find(obj.email_id))
    }, :title => "Email Address" }, 
    { :key => lambda{|obj|  
          EmailMessage.find(obj.email_message_id).label},
        :value => lambda{|obj| 
          link_to(EmailMessage.find(obj.email_message_id).label, EmailMessage.find(obj.email_message_id))
    },:title => "Message Name"},  
    { :key => "Delivered",
        :value => lambda{|obj| 
          obj.isdelivered?
    },:title => "Delivered"},  
    :priority, 
    { :key => "Destroy",
        :value => lambda{|obj| 
          button_to('Destroy', obj, method: :delete, :class => :destroy, data: { confirm: 'Are you sure?' })
    },:title => "Destroy"},
     [:actions, lambda{ |obj|
              actions = []
              actions << link_to("Send", deliver_email_submission_path(obj))
              actions << link_to('Edit', edit_email_submission_path(obj))  
              actions.join(' | ').html_safe
          }, 'padding:3px;width:150px;padding-left:10px;']
    ] )%>

<br />

<%= link_to 'New Email Submission', new_email_submission_path %>
