<h1>Servers</h1>

<%= will_filter_tag(@servers) %>
<%= will_filter_table_tag(@servers, :columns => [
    :id, 
    { :key => :user_name,
        :value => lambda{|obj| 
          link_to(obj.user_name, obj) 
    }}, 
    :address, 
    :port, 
    :host, 
    :authentication,
    { :key => "Active",
        :value => lambda{|obj| 
          obj.isactive?
    }},  
    :count_day, 
    :max_emails,
    { :key => "Destroy",
        :value => lambda{|obj| 
          button_to('Destroy', obj, method: :delete, :class => :destroy, data: { confirm: 'Are you sure?' })
    },:title => "Destroy"},
     [:actions, lambda{ |obj|
              actions = []
              actions << link_to('Edit', :action => :edit, :id => obj.id)   
              actions.join(' | ').html_safe
          }, 'padding:3px;width:150px;padding-left:10px;']
    ] )%>


<%= link_to 'Add Server', new_server_path %>
