<h1>Messages</h1>


<%= will_filter_tag(@email_messages) %>
<%= will_filter_table_tag(@email_messages, :columns => [
    :id,   
    { :key => :label,
        :value => lambda{|obj| 
          link_to(obj.label, edit_email_message_path(obj))
    },:title => "Name"},  
    { :key => :subject,
        :value => lambda{|obj| 
          link_to(obj.subject, obj)
    },:title => "Subject"}, 
    { :key => :edit,
        :value => lambda{|obj| 
          link_to('Edit', edit_email_message_path(obj)) 
    },:title => "Edit"}, 
    { :key => "Destroy",
        :value => lambda{|obj| 
          button_to('Destroy', obj, method: :delete, :class => :destroy, data: { confirm: 'Are you sure?' })
    },:title => "Destroy"}
    ] )%>


<br />

<%= link_to 'New Email message', new_email_message_path %>
