<h5>Sever List</h5>

<%= will_filter_tag(@server_lists) %>
<%= will_filter_table_tag(@server_lists, :columns => [
    :id, 
    {:key => :name,
      :value => lambda{|obj| 
          link_to(obj.name, obj) 
    },:title => "Name"},
    { :key => :count,
        :value => lambda{|obj| 
          obj.server_ids.size
    },:title => "Count"},  
    { :key => "Destroy",
        :value => lambda{|obj| 
          button_to('Destroy', obj, method: :delete, :class => :destroy, data: { confirm: 'Are you sure?' })
    },:title => "Destroy"},
     [:actions, lambda{ |obj|
              actions = []
              actions << link_to('Edit', :action => :edit, :id => obj.id)   
              actions.join(' | ').html_safe
          }, 'padding:3px;width:150px;padding-left:10px;']
    ] )%>

<br />

<%= link_to 'New Server List', new_server_list_path %>
