<p><h2 >Emails</h2></p>

<%= will_filter_tag(@emails) %>
<%= will_filter_table_tag(@emails, :columns => [
    :id,
    :name, 
    { :key => :emailAddress,
        :value => lambda{|obj| 
          link_to(obj.emailAddress, obj) 
    },:title => "Email Address"}, 
    :company,
    :gender,
      :title, 
      :first_name,
      :last_name,
      :address,
      :city,
      :state,
      :zip,
    { :key => :count,
        :value => lambda{|obj| 
          obj.count
    },:title => "Times Contacted"}, 
    :visit_count,
    { :key => "Destroy",
        :value => lambda{|obj| 
          button_to('Destroy', obj, method: :delete, :class => :destroy, data: { confirm: 'Are you sure?' })
    },:title => "Destroy"}, 
     [:actions, lambda{ |obj|
              actions = []
              actions << link_to('Edit', :action => :edit, :id => obj.id)   
              actions.join(' | ').html_safe
          }, 'padding:3px;width:150px;padding-left:10px;']
    ] )%>


</p>
<br />
<p><%= link_to 'New Email', new_email_path %></p>
